.message-container
  .message-container-user
    %h1 user_name
    %h2 2019/07/24(Wed) 00:00:00
  .message-container-text
    %p hello
.message-container
  .message-container-user
    %h1 user_name
    %h2 2019/07/24(Wed) 00:00:00
  .message-container-text
    %p hello
.message-container
  .message-container-user
    %h1 user_name
    %h2 2019/07/24(Wed) 00:00:00
  .message-container-text
    %p hello