.group-box{
  box-sizing: border-box;
  width:100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  h1{
    font-size: 15px;
    color: white;
  }
  p{
    margin-top:5px;
    font-size: 11px;
    color: white;
  }
}