$font-color-time-stomp: #999999;
$font-color-message: #434A54;
$font-color-group: #333333;

$background-color-header-left: #253141;
$background-color-group-index: #2f3e51;
$background-color-message: #fafafa;
$background-color-notice: #38AEF0;
$background-color-alert: rgb(255, 98, 0);



