@import "variable.scss";
@import "group_list.scss";
@import "group_messages.scss";

html,body {
  height:100%;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  &__left{
    background-color: $background-color-header-left;
    width:300px;
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size: 16px;
      color: white;
    }
    i{
      font-family: FontAwesome;
      font-style: normal;
      font-size: 16px;
      color: white;
    }
  }
  &__right {
    width: calc(100% - 300px);
    padding-left: 40px;
    padding-right:40px;
    box-sizing: border-box;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__right__group{
      margin-top:35px;
      h1{
        font-size:20px;
        color:$font-color-group;
      }
      p{
        margin-top: 15px;
        font-size:12px;
        color: $font-color-time-stomp;
      }
    }
    .edit-button{
      box-sizing: border-box;
      margin-top: 28px;
      height: 40px;
      border: $background-color-notice solid 1px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        text-decoration: none;
        color: $background-color-notice;
      }
    }
  }
}
.contents {
  height: calc(100% - 150px);
  display: flex;
  width: 100%;
  &__left{
    background-color: $background-color-group-index;
    width: 300px;
    height: 100%;
  }
  &__right{
    background-color: $background-color-message;
    width:calc(100% - 300px);
    box-sizing: border-box;
    padding-top: 26px;
    height: 100%;
    position: relative;
    .group-messages{
      height:calc(100% - 100px);
      width: 100%;
      box-sizing: border-box;
    }
    .text-form{
      width:100%;
      position: absolute;
      bottom: 0px;
      height: 100px;
      background-color:lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding-left:20px;
      padding-right:20px;
      form{
        width:100%;
        position: relative;
        .label{
          cursor: pointer;
          font-size:18px;
          right: 140px;
          top: 10px;
          position: absolute;
        }
        input[type="text"] {
          height: 50px;
          width:calc(100% - 130px);
          box-sizing: border-box;
        }
        ::-webkit-input-placeholder{
          padding-left:10px;
          font-size: 16px;
          color:$font-color-message;
          font-style:normal;
        }
        .image{
          display: none;
        }
        input[type="submit"] {
          margin-left: 15px;
          box-sizing: border-box;
          background-color: $background-color-notice;
          color:white;
          height:50px;
          width: 100px;
        }
      }
    }
  }
}